/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font: inherit;
    vertical-align: baseline;
    font: normal 15px/21px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    text-transform: none;
}

a, i {
    text-decoration: none !important;
    color: #359c7f !important;
    font-size: 16px;
    font-weight: 600 !important;
}

a:hover {
    color: #49bf9d !important;
    cursor: pointer;
}

i {
    font-size: 130% !important;
    padding-right: 8px;
}

h2 {
    padding: 20px 0;
	font-size: 180%;
    font-weight: bold !important;
}

h6 {
    padding: 10px 0 0 0;
}

h1 {
    font-weight: 900 !important;
    font-size: 250% !important;
}

/*Menu bar*/
.menu {
    height: 70px;
}

.navigation {
    height: 70px;
    background: #111;
    position: fixed;
    box-shadow: 0 1px 5px rgba(0,0,0,.7);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
}

.navigation-bar {
    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 20px;
    cursor: pointer;
    color: #fff;
    border-left: 1px solid #222;
    text-shadow: 2px 2px #136d53;
}

.nav-item.active {
    background: #359c7f;
}

.nav-item:hover {
    background: #49bf9d;
}
.nav-item:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    text-shadow: none;
    content: attr(name);
    left: calc(50% - 110px);
    top: 70px;
    position: absolute;
    z-index: 100;
    width: 220px;
    height: 40px;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	background-image: url('../img/background.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/*Content*/
.content {
    margin: 0 auto;
    padding: 22px 0;
    text-align: center;
}

/*Welcome part*/
.welcome {
    height: 500px;
    width: 100%;
    background: #2f2f2f;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title {
    z-index: 50;
    color: #ffffff;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 550px;
}

/*About part*/
.about {
    color: #b8b8b8;
    background: #323232;
}

/*Projects part*/
.proj-items {
    padding-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proj-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 200px;
    margin: 10px;
    background-color: white;
}

.text:hover {
	height: 200px;
    background: rgba(0, 0, 0, .8);
    color: #b8b8b8;
    cursor: pointer;
}

.text {
	color: transparent;
    height: 100%;
    width: 100%;
    text-align: center;
	line-height: 200px;
	overflow: hidden;
    font-size: 140%;
}

@media screen and (max-width: 900px) {
    .text {
        color: #b8b8b8;
        cursor: pointer;
        background: rgba(0, 0, 0, .8);
    }
}

/*Contact part*/
.contact {
    color: #b8b8b8;
    background: #161616;
}

.forms {
    padding: 0 22px;
    max-width: 960px;
    margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.form {
    display: inline-block;
    width: 48%;
}

.form-main {
	display: flex;
	justify-content: space-between;
}

/*Footer part*/
.footer {
    overflow: hidden;
    padding: 20px 20px;
    background: #111;
    display: flex;
    justify-content: center;
	color: #b8b8b8;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}

.footer li {
    padding: 0 22px;
}

/* Button */
.button {
    margin: 15px 0;
    appearance: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    background-color: #ebffe5;
    border-radius: 0.35em;
    border: solid 3px #efefef;
    color: #787878 !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 3.15em;
    height: calc(2.75em + 6px);
    line-height: 2.75em;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.button:hover {
    border-color: #49bf9d;
    color: #49bf9d !important;
}

.button:active {
    background-color: rgba(73, 191, 157, 0.1);
    border-color: #49bf9d;
    color: #49bf9d !important;
}

/* Form */
input[type="email"], input[type="text"], textarea {
    appearance: none;
    background: #e5ffe5;
    border-radius: 0.35em;
    border: solid 2px transparent;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 0.75em;
    text-decoration: none;
    width: 100%;
}

input[type="email"]:invalid, input[type="text"]:invalid, textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #49bf9d;
}

input[type="email"], input[type="text"] {
    height: 2.75em;
    margin: 10px 0;
}

textarea {
    padding: 0.75em;
    margin: 10px 0;
}

.wrap {
	width: 70%;
	margin: 0 auto;
}
