@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");
@font-face {
  font-family: 'h5u';
  font-weight: normal;
  font-style: normal; 
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url("https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJCDkYQxybH_Rl7Qv7ee2N4.woff2") format('woff2');
}

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
  font-family: 'h5u'; 
  font-style: normal;
  font-weight: 600;
  font-variant: normal;
  text-transform: none;
	color: #a6a6a6;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; 
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none; 
}

h2 {
	padding: 22px 0;
}

/* Containers */
body {
	margin: 0;
	padding: 0;
}

li {
	color: #787877;
}

.icons li {
	padding: 0 5px;
	display: inline-block;
}

p {
	color: #737373;
	font-size: 1.1em;
	padding: 20px 0;
}

a {
	font-weight: 700;
	text-decoration: none !important;
	color: #49bf9d !important;
}

a:hover {
	color: #999999 !important;
	transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.side-bar {
	padding: 50px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/mainBack.jpg");
	background-size: cover;
	width: 28%;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
}
@media screen and (max-width: 900px) {
	.side-bar {
		width: 100%;
		position: static;
		height: auto;
		left: auto;
		top: auto;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../img/mainBack.jpg");
	}
}

.about {
	padding-top: 100px; 
	text-align: center;
}

.contact {
	padding: 50px;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

@media screen and (max-width: 900px) {
.contact {
	display: none;
}

.contact-items {
	display: block;
}
}

img {
	color: rgba(0, 0, 0, 0.8);
	border-radius: 5px 25px;
	width: 100px;
    height: auto;
    opacity: 0.75;
}

.contents {
	width: 72%;
	right: 0;
	top: 0;
	/*padding: 0 5%;*/
	position: absolute;
	background: #efefef;

}
@media screen and (max-width: 900px) {
	.contents {
		width: 100%;
		right: auto;
		top: auto;
		position: static;
	}
}

.content {
	border-top: solid 2px #49bf9d;
	text-align: center;
}

#wall-1 {

}

.tab1 {
	height: 450px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),url('../img/1.jpg') no-repeat fixed;
	background-size: cover;
}
.tab2 {
}
.tab3 {
}

.form {
	display: inline-block;
	width: 49%;
}


/* Button */
.button {
	margin: 15px 0;
	appearance: none;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	background-color: #ebffe5;
	border-radius: 0.35em;
	border: solid 3px #efefef;
	color: #787878 !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: 3.15em;
	height: calc(2.75em + 6px);
	line-height: 2.75em;
	min-width: 10em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

.button:hover {
	border-color: #49bf9d;
	color: #49bf9d !important; 
}

.button:active {
	background-color: rgba(73, 191, 157, 0.1);
	border-color: #49bf9d;
	color: #49bf9d !important;
}

/* Form */
input[type="email"], input[type="text"], textarea {
	appearance: none;
	background: #e5ffe5;
	border-radius: 0.35em;
	border: solid 2px transparent;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 0.75em;
	text-decoration: none;
	width: 100%;
}

input[type="email"]:invalid, input[type="text"]:invalid, textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
	border-color: #49bf9d;
}

input[type="email"], input[type="text"] {
	height: 2.75em;
	margin: 10px 0;
}

textarea {
	padding: 0.75em;
	margin: 10px 0;
}