@-webkit-keyframes flick {
	0% { opacity: 1; }
	49.99% { opacity: 1; }
	50% { opacity: 0; }
	99.99% { opacity: 0; }
}

@-moz-keyframes flick {
	0% { opacity: 1; }
	49.99% { opacity: 1; }
	50% { opacity: 0; }
	99.99% { opacity: 0; }
}

@-ms-keyframes flick {
	0% { opacity: 1; }
	49.99% { opacity: 1; }
	50% { opacity: 0; }
	99.99% { opacity: 0; }
}

@-o-keyframes flick {
	0% { opacity: 1; }
	49.99% { opacity: 1; }
	50% { opacity: 0; }
	99.99% { opacity: 0; }
}

@keyframes flick {
	0% { opacity: 1; }
	49.99% { opacity: 1; }
	50% { opacity: 0; }
	99.99% { opacity: 0; }
}


@-webkit-keyframes logo {
	0% { opacity: 0; }
	40% { opacity: 0; }
	70% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes logo {
	0% { opacity: 0; }
	40% { opacity: 0; }
	70% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes logo {
	0% { opacity: 0; }
	40% { opacity: 0; }
	70% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes logo {
	0% { opacity: 0; }
	40% { opacity: 0; }
	70% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes logo {
	0% { opacity: 0; }
	40% { opacity: 0; }
	70% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}

/* Arrow */

@keyframes arrow {
	0% { left: -300px; }
	95% { left: -240px; }
	100% { left: -108px; }
}

@-moz-keyframes arrow /* Firefox */{
	0% { left: -300px; }
	98% { left: -240px; }
	100% { left: -108px; }
}

@-webkit-keyframes arrow /* Safari and Chrome */{
	0% { left: -300px; }
	98% { left: -240px; }
	100% { left: -108px; }
}

@-o-keyframes arrow /* Opera */{
	0% { left: -300px; }
	98% { left: -240px; }
	100% { left: -108px; }
}

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body, html {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	min-height: 100%;
	/*-webkit-perspective: 1000px;*/
}

.content {
	position: absolute;
	left: 130px;
	top: 40%;

	background: #f9f9f9 url('subtle_dots.png') repeat;
	color: #222;
	padding: 22px;
	font: 15px/24px "Bitstream Vera Sans Mono", "Anonymous Pro", "Consolas", monospace;
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
	letter-spacing: -0.01em;
	/*-webkit-transform: rotateY(10deg);*/
}

ul.content {
	list-style: none;
	width: 500px;
	margin-top: -62px;
}

ul li {
	padding: 10px 0;
}

#first-line {
	font-size: 22px;
}

a {
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px dotted #ccc;
	background: #111;
	color: #fff;
}

a:hover {
	background: #fff;
	color: #111;
}

.typing {
	position: relative;
	display: inline-block;
	width: 8px;
	text-indent: -999em;
	background: #ccc;
	-webkit-animation: flick 1s infinite;
	-moz-animation: flick 1s infinite;
	-ms-animation: flick 1s infinite;
	-o-animation: flick 1s infinite;
	animation: flick 1s infinite;
}

@media (max-width: 750px) {
	body {
		font-size: 15px;
		min-height: 530px;
	}
	.content {
		font-size: 12px;
		width: 83% !important;
		top: 25%;
		left: 5% !important;
		min-width: 200px;
	}
}